/*
Copyright © 2024 Yamizo (aka. hthcrwzy)
This program is available under AGPL v3;
please look at the LICENSE file.
*/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
